<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">لوگو</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">صفحه اصلی</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">خروج از حساب</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">ورود</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            دسته بندی
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'movie:show_all_movie' %}">فیلم ها</a></li>
            <li><a class="dropdown-item" href="{% url 'actor:show_all_actor' %}">بازیگران</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">درباره ما</a></li>
          </ul>
        </li>
      </ul>
      <div class="container mt-2">
        <form id="search-form" class="position-relative">
          <input id="search-input" type="text" class="form-control" placeholder="جستجو فیلم یا بازیگر">
          <ul id="search-results" class="dropdown-menu w-100 mt-1"></ul>
        </form>
      </div>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
